*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #FF6900;
    padding: 10px 0;
}

.flex{
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.container{
    width: 80%;
    margin: auto;
    align-items: center;
}

.flex li{
    list-style: none;
    padding: 0 10px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white
}

.logo{
    width: 10%;
    padding: 10px;
}

.icons{
    color: white;
}

/* main's CSS */

.row{

}

.col{
    flex-basis: calc(100% / 3);
    padding: 1%;
}

.item{
    position: relative;
}

.item img{
    width: 100%;
}

.price{
    color: red;
    font-weight: bold;
}

.label{
    position: absolute;
    bottom: 15%;
}

.discount,
.sostenible{
    display: inline-block;
    color: white;
    font-weight: bold;
}

.discount{
    background-color: red;
    margin: 1%;
}

.sostenible{
    background-color: green;
    margin: 1%;
}

.heart {
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 2rem;
}

.heart:hover {
    color: red;
}


.item-image-hover {
    display: none;
}

.item:hover .item-image-hover {
    display: inline-block;
}

.item:hover .item-image {
    display: none;
}
